.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.cta_block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
  max-width: 480px;

  &__visible {
    opacity: 1;
    pointer-events: unset;
  }
}