.wrapper {
  flex: 1;
  padding: 100px 20px 40px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
  padding-left: 16px;
}

.ingredient {
  padding: 0 16px 0 32px;
  display: flex;
  flex-direction: column;
}

.filling_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: overlay;

  & .ingredient {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}

.ce_make_wide {
  box-sizing: border-box;
  width: 100%;
}

.cta_block {
  display: flex;
  gap: 40px;
  align-self: flex-end;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    width: 36px;
    height: 36px;
  }
}