@import '../../constants/colors.scss';

.page_wrapper {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  height: calc(100% - 120px);
}

.wrapper {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px;
  width: 100%;
}

.nav_wrapper {
  color: $GREYISH_PURPLE;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.navigation {
  width: 320px;
  display: flex;
  flex-direction: column;
}


.nav_link {
  padding: 17px 0;
  color: $GREYISH_PURPLE;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s ease;
  text-decoration: none;

  svg {
    transition: all 0.25s ease;
    fill: $GREYISH_PURPLE;
  }

  &:hover {
    color: $WHITE;
  }

  &__active {
    color: $WHITE;
  }
}

.button {
  background-color: transparent;
  border: none;
  margin: unset;
  padding: 17px 0;
  text-align: start;
  width: fit-content;
  color: $GREYISH_PURPLE;
  transition: all 0.25s ease;
  cursor: pointer;

  &:hover {
    color: $WHITE;
  }
}