@import '../../constants/colors.scss';

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $DARK_GREY;
  padding: 40px;
  border: 1px solid $BLUE33;
  border-radius: 40px;
  box-shadow:
    0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  z-index: 101;
}

.close_button {
  position: absolute;
  top: 60px;
  right: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $WHITE;
}