@import '../../constants/colors.scss';

.wrapper {
  padding: 0 0 20px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  height: 240px;
  width: 480px;
}

.nutrition_facts {
  display: flex;
  gap: 20px;
}

.nutrition_facts_item {
  color: $GREYISH_PURPLE;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}