@import '../../constants/colors.scss';

.header {
  background-color: $DARK_GREY;
  width: 100%;
  padding: 16px 0;
}

.navigation {
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav_part {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px
}

.nav_left {
  @extend .nav_part;
  justify-content: flex-start
}

.nav_right {
  @extend .nav_part;
  justify-content: flex-end;
}

.nav_logo {}

.nav_link {
  padding: 16px 20px;
  color: $GREYISH_PURPLE;
  background-color: transparent;
  border-radius: 40px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
  text-decoration: none;

  svg {
    transition: all 0.25s ease;
    fill: $GREYISH_PURPLE;
  }

  &:hover {
    color: $WHITE;

    svg {
      fill: $WHITE;
    }
  }

  &__active {
    color: $WHITE;

    svg {
      fill: $WHITE;
    }
  }
}