@import '../../constants/colors.scss';

.ingredient {
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.25s ease;
  color: $PURE_WHITE;
  text-decoration: none;

  &_img {
    height: 120px;
    width: 240px;

  }

  &_price {
    display: flex;
    gap: 8px
  }

  &.dragged {
    box-shadow: inset 0 0 10px $GREYISH_PURPLE;
  }
}