.ingredient {
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  cursor: pointer;

  &_img {
    height: 120px;
    width: 240px;

  }

  &_price {
    display: flex;
    gap: 8px
  }
}